<h1>マイページ</h1>
<nav>
  <ul>
    <% if logged_in? %>
    <%= current_user.inspect %>
    <%= current_user.attributes %>
      <%# <%= link_to 'Profile', current_user
      <li><%= link_to 'Logout', logout_path,</li> %>
    <% else %>
      <div>特にないです</div>
    <% end %>
  </ul>
</nav>

